/* loader page */
.loader {
  @apply w-full min-h-dvh h-dvh flex items-center justify-center relative bg-background;
}
.lines_top {
  @apply top-[calc(var(--navbar)+7px)];
}
.lines_bottom {
  @apply top-[calc(100dvh-2rem)] [transition:top_185ms_ease];
}
.lines_top,
.lines_bottom {
  @apply w-full h-0.5 absolute bg-muted inset-x-0 z-9;
  &::before,
  &::after {
    @apply content-[''] absolute block top-[-7px] bg-muted size-4 rounded-full;
  }
  &::before {
    @apply left-2 [translate:1px_0] lg:left-8 lg:[translate:2px_0];
  }
  &::after {
    @apply right-2 [translate:-1px_0] lg:right-8 lg:[translate:-2px_0];
  }
}
.home_lines {
  &::before,
  &::after {
    @apply content-[''] w-0.5 h-full absolute bg-muted inset-y-0 z-9;
  }
  &::before {
    @apply left-4 lg:left-8;
  }
  &::after {
    @apply right-4 lg:right-8;
  }
}

.aura {
  @apply absolute w-full h-full max-w-full dark:opacity-20;
  &::before,
  &::after {
    @apply content-[''] absolute rounded-full;
    background: conic-gradient(
      from 180deg at 50% 50%,
      var(--conic-0, hsl(var(--background))) 0deg,
      var(--conic-1, hsl(var(--background))) 1turn
    );
    mix-blend-mode: normal;
    filter: blur(75px);
    will-change: filter;
  }
  &::before {
    @apply size-full;
  }
  &::after {
    @apply size-1/2;
  }
}
/* main - layout */
.main_home {
  @apply m-0 flex items-center min-h-screen flex-col p-4 lg:p-14 relative inset-x-0 z-[86] w-full min-w-full overflow-hidden space-y-12;

  & aside,
  & [id="aside-nav"] {
    @apply md:!hidden md:!sr-only;
  }

  background-size: 55px 55px;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--hex) 25%,
      var(--hex) 26%,
      transparent 27%,
      transparent 74%,
      var(--hex) 75%,
      var(--hex) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--hex) 25%,
      var(--hex) 26%,
      transparent 27%,
      transparent 74%,
      var(--hex) 75%,
      var(--hex) 76%,
      transparent 77%,
      transparent
    );
}

/* footnav */
.footnav {
  @apply mx-auto flex flex-col w-full relative text-sm bg-background-theme max-w-screen-3xl;

  & .footnav_top_inner,
  & .footnav_inner_theme,
  & .footnav_bottom_inner {
    @apply px-6 md:px-8 lg:px-10 xl:px-10;
  }
  & .footnav_top_inner {
    @apply border-t border-t-muted pt-4 w-full grid items-start grid-cols-1 lg:grid-cols-12 gap-4 md:gap-8 text-muted-foreground;

    & .inner_left {
      @apply w-max col-span-1 lg:col-span-2;

      & .home_link {
        @apply text-muted-foreground hover:text-color flex flex-initial items-center font-semibold rounded-lg;

        & > svg[data-logo] {
          @apply flex flex-none items-center justify-center border bg-background h-[36px] w-[36px] rounded-xl mr-2 p-1;
        }
      }
    }

    & .inner_right {
      @apply col-span-1 lg:col-span-10;

      & .ul {
        @apply gap-x-6 grid sm:grid-cols-2 md:grid-flow-col md:grid-cols-4 md:grid-rows-5 lg:grid-cols-5;

        & .li {
          @apply content-center !list-none flex items-center;

          & .a,
          & .a_active {
            @apply line-clamp-1 text-xs md:text-sm 2xl:text-base text-muted-foreground hover:text-color transition ease-in-out duration-150 rounded-md py-1 underline-hover;
          }
          & .a_active {
            @apply font-semibold text-color;
          }

          & mark {
            @apply ml-[10px];
          }
        }
      }
    }
  }

  & .footnav_inner_theme {
    @apply pt-2 pb-4 relative gap-4 flex flex-row flex-nowrap justify-end items-center text-muted-foreground border-b border-b-muted select-none;

    & .theme_toggle {
      @apply relative flex items-center justify-center cursor-pointer select-none p-1 outline-0 transition-colors disabled:pointer-events-none disabled:opacity-50 border h-[var(--ttg-sz,30px)] w-[var(--ttg-sz,30px)] rounded-lg capitalize;
    }
  }

  & .footnav_bottom_inner {
    @apply py-2 gap-4 flex flex-col md:flex-row justify-between items-center text-muted-foreground text-sm;

    & .inner_left {
      @apply flex flex-col sm:flex-row items-center gap-x-4;

      & hr {
        @apply hidden h-4 w-[1px] border-l border-l-neutral-400 sm:inline-block;
      }
    }

    & .inner_right {
      @apply flex items-center md:ml-auto cursor-default;

      & a {
        @apply mx-2 rounded-lg gap-2 hover:text-color transition-colors duration-200 cursor-pointer;

        & > svg {
          @apply transform duration-200 ease-linear;
        }

        &:hover > svg {
          @apply scale-110;
        }
      }
    }
  }
}

/* others */
.italic_time {
  @apply w-max cursor-default my-2 font-mono;

  & .italic_time_tooltip {
    @apply flex flex-row flex-nowrap items-center text-sm text-muted-foreground space-x-2;

    & svg {
      @apply border rounded-lg p-[3px];
    }

    & time {
      @apply italic;
    }
  }
}
