[data-theme="light"] {
  display: block;
}
[data-theme="dark"] {
  display: none;
}
.dark [data-theme="light"] {
  display: none;
}
.dark [data-theme="dark"] {
  display: block;
}
[data-rehype-pretty-code-fragment] {
  @apply relative;
}
[data-rehype-pretty-code-fragment] code {
  @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0 leading-[20px] relative white-space-pre-wrap w-max font-roboto-mono text-[13px] font-normal [counter-reset:line] [box-decoration-break:clone];
}
[data-rehype-pretty-code-fragment] [data-fragment="comment"] {
  @apply text-color-muted h-5 mt-3 -mb-3;
}
[data-rehype-pretty-code-fragment] .line {
  @apply px-4 min-h-[1rem] py-0.5 w-full inline-block;
}
[data-rehype-pretty-code-fragment] [data-line-numbers] .line {
  @apply px-2;
}
[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
  @apply text-zinc-50/40 text-xs;
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1.8rem;
  margin-right: 1.4rem;
  text-align: right;
}

[data-rehype-pretty-code-fragment] .line--highlighted {
  @apply bg-zinc-700/50;
}

[data-rehype-pretty-code-fragment] .line-highlighted span {
  @apply relative;
}

[data-rehype-pretty-code-fragment] .word--highlighted {
  @apply rounded-md bg-zinc-700/50 border-zinc-700/70 p-1;
}

.dark [data-rehype-pretty-code-fragment] .word--highlighted {
  @apply bg-zinc-900;
}

[data-rehype-pretty-code-title] {
  @apply mt-2 pt-3 pb-1 px-4 text-sm font-medium;
}

[data-rehype-pretty-code-title] + pre {
  @apply mt-2;
}

.mdx > .steps:first-child > h3:first-child {
  @apply mt-0;
}

/* added */
.md_custom {
  & .linkbox {
    @apply transition-colors no-underline decoration-none border bg-color text-background hover:bg-color/90 hover:text-background rounded-md font-semibold font-roboto-mono px-2 py-px text-sm after:content-['↗'] md:after:content-['🡵'] after:ml-1 after:text-muted-foreground after:transition-colors hover:after:text-constructive;
  }
  & a code {
    @apply p-[0em_.25em] text-[85%] leading-normal transition-colors underline underline-offset-2 decoration-color-muted hover:decoration-constructive hover:text-constructive;
  }
  & ul {
    @apply list-disc;
  }
  & ol {
    @apply list-decimal;
  }
  & ul,
  & ol {
    @apply pl-8 flex flex-col space-y-2;
  }
  & ol li::marker {
    @apply [font-weight:400];
  }
  & ul li,
  & ol li {
    @apply list-item [text-align:-webkit-match-parent] [unicode-bidi:isolate] leading-normal;
  }
}
[data-rehype-customizer] {
  --copy-icon: url('data:image/svg+xml,<svg fill="none" stroke="%23909293" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" height="16px" width="16px"><path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z"></path><path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1"></path></svg>');
  --success-icon: url('data:image/svg+xml,<svg fill="none" stroke="%23909293" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" height="16px" width="16px"><path d="M5 12l5 5l10 -10"></path></svg>');
  & span.ready {
    @apply hover:bg-muted/75;
  }
  & span.success {
    @apply bg-muted/75 animate-fade-in fade-in-0 zoom-in-0 [animation-duration:150ms];
  }
  & span.ready,
  & span.success {
    @apply [background-size:20px] bg-center size-8 min-w-8 min-h-8 -mt-4 rounded-md bg-no-repeat mr-4;
  }
}
[data-rehype-customizer] {
  & :where(h2:not(:is(h1 + h2))):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    @apply font-semibold text-color mt-9 mb-1 text-h4 flex items-center cursor-default w-max [&>a]:hover:text-constructive;

    & a.anchor_id {
      @apply hover:text-constructive transition-colors;
    }
  }

  & a {
    @apply underline underline-offset-2 decoration-color-muted hover:text-color hover:decoration-color;
  }

  & figure pre code {
    @apply py-6 px-7 overflow-x-auto scrollbar;
  }
}
[data-rehype-pretty-code-figure] mark {
  &[data-highlighted-chars] {
    @apply bg-muted p-[0.075rem_0.225rem] rounded-sm border;
  }
  &[data-highlighted-chars][data-chars-id="at"] {
    @apply bg-muted p-[0.075rem_0.225rem] rounded-sm border;
  }
}

[data-language][data-theme] span span[style="color:#858AA6"] {
  font-style: italic;
}
[data-rehype-pretty-code-fragment] pre code * {
  font-weight: 400;
}
code[data-language][data-theme] {
  @apply bg-background-code-body border-border rounded-lg;
}
code {
  counter-reset: line;
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 2rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 3rem;
}
code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

@media (prefers-color-scheme: dark) {
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}
