[data-themeid-light="protanopia"]:root {
  --background-theme: var(--concrete);
  --background-nav: var(--mercury);
  --background-box: var(--concrete);

  --primitive: var(--fuchsia-pink-primary);
  --primitive-foreground: var(--fuchsia-pink-secondary);
  --primitive-emphasis: var(--fuchsia-pink-tertiary);

  --muted: var(--mercury);
  --muted-foreground: var(--dove-gray-tertiary);
  --muted-emphasis: var(--concrete);

  --destructive: var(--medium-purple-primary);
  --destructive-foreground: var(--medium-purple-secondary);
  --destructive-emphasis: var(--medium-purple-tertiary);

  --constructive: var(--green-haze-primary);
  --constructive-foreground: var(--green-haze-secondary);
  --constructive-emphasis: var(--green-haze-tertiary);

  --conservative: var(--fuchsia-pink-primary);
  --conservative-foreground: var(--fuchsia-pink-secondary);
  --conservative-emphasis: var(--fuchsia-pink-tertiary);

  --mention: var(--chelsea-gem-primary);
  --mention-foreground: var(--chelsea-gem-secondary);
  --mention-emphasis: var(--chelsea-gem-tertiary);
}
html[class="dark"][data-themeid-dark="protanopia"]:root {
  --background-theme: var(--woodsmoke-secondary);
  --background-nav: var(--pure-black);
  --background-box: var(--woodsmoke-secondary);

  --primitive: var(--fuchsia-pink-primary);
  --primitive-foreground: var(--fuchsia-pink-secondary);
  --primitive-emphasis: var(--fuchsia-pink-tertiary);

  --muted: var(--mine-shaft-primary);
  --muted-foreground: var(--gray-secondary);
  --muted-emphasis: var(--woodsmoke-secondary);

  --destructive: var(--medium-purple-primary);
  --destructive-foreground: var(--medium-purple-secondary);
  --destructive-emphasis: var(--medium-purple-tertiary);

  --constructive: var(--green-haze-primary);
  --constructive-foreground: var(--green-haze-secondary);
  --constructive-emphasis: var(--green-haze-tertiary);

  --conservative: var(--fuchsia-pink-primary);
  --conservative-foreground: var(--fuchsia-pink-secondary);
  --conservative-emphasis: var(--fuchsia-pink-tertiary);

  --mention: var(--chelsea-gem-primary);
  --mention-foreground: var(--chelsea-gem-secondary);
  --mention-emphasis: var(--chelsea-gem-tertiary);
}
